NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/crud_ex?schema=public
JWT_ACCESS_SECRET=bcc380398de258e281614f5c52c0c166
JWT_REFRESH_SECRET=a28bc78124ef0da8acdab13dcb572ad4
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:4200
UPLOAD_DIR=uploads
MAX_FILE_SIZE=5242880
CNPJ_API_BASE_URL=https://brasilapi.com.br/api/cnpj/v1
DEFAULT_ADMIN_EMAIL=admin@local.test
DEFAULT_ADMIN_PASSWORD=Admin123!
DEFAULT_ADMIN_NAME=System Admin
